<nav style="margin-bottom: 10px;">
 <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <!--<a routerLink="/form" routerLinkActive="active">Add User</a>
  <a routerLink="/users" routerLinkActive="active">List User</a> -->
</nav>
