<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<div class="content-card">
  <mat-card>
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">Loading Awesomeness...</p>
    </ngx-spinner>
  <mat-table class="products-table" #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let item; let i = index;">
        <p class="text-truncate">{{ i+1 }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">{{ item.name }}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">
          {{ item.email }}
        </p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contact</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">{{ item.phone }}</p>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button class="mr-0 mr-sm-4" matTooltip="Detail" (click)="onDetail(item)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="mr-0 mr-sm-4" matTooltip="Edit">
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="onEdit(item.id)">edit</mat-icon>
        </button>
        <button mat-icon-button class="mr-0 mr-sm-4" matTooltip="Delete" (click)="onDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let order; columns: displayedColumns" class="product">
    </mat-row>
  </mat-table>
  <mat-paginator class="mb-10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
</div>
