<div class="content">
  <mat-card *ngIf="finalData">
    <div>
      <fieldset>
        <legend><strong>Identity</strong></legend>
        <p>Name : {{finalData.name}}</p>
        <p>Email : {{finalData.email}}</p>
        <p>phone : {{finalData.phone}}</p>
        <p>Username : {{finalData.username}}</p>
        <p>Website : {{finalData.website}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Address</strong></legend>
        <p>City : {{finalData.address.city}}</p>
        <p>Geo : {{finalData.address.geo.lat}} - {{finalData.address.geo.lng}}</p>
        <p>Street : {{finalData.address.street}}</p>
        <p>Suite : {{finalData.address.suite}}</p>
        <p>Zipcode : {{finalData.address.zipcode}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Company</strong></legend>
        <p>Name : {{finalData.company.name}}</p>
        <p>BS : {{finalData.company.bs}}</p>
        <p>catch Phrase : {{finalData.company.catchPhrase}}</p>
      </fieldset>
    </div>
    <button mat-raised-button color="primary" (click)="onBack()" style="margin-top: 8px;">Back</button>
  </mat-card>

</div>
