<div class="container">
  <div class="header">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" style="display: flex;justify-content: space-between;align-items: center;height: 40px;">
    <div style="display: flex;align-items: center;">
      <p style="padding-right: 6px;margin: 0;">Term & Condition</p>
      <p style="margin: 0;">Privacy Policy</p>
    </div>
    <div>
      <p style="margin: 0;">&copy; {{today.getFullYear()}}</p>
    </div>
  </div>
</div>

