<div style="padding:16px">
  <mat-card>
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button> -->
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">Loading Awesomeness...</p>
    </ngx-spinner>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <form [formGroup]="formGroup">
        <mat-step [stepControl]="formGroup">
          <ng-template matStepLabel>Identity</ng-template>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Fullname</mat-label>
              <input matInput placeholder="Fullname" formControlName="name" />
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                Fullname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username" />
              <mat-error *ngIf="formGroup.controls['username'].hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="formGroup.controls['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone" (keypress)="numberOnly($event)" />
              <mat-error *ngIf="formGroup.controls['phone'].hasError('pattern')">
                Please enter digit only
              </mat-error>
              <mat-error *ngIf="formGroup.controls['phone'].hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Website</mat-label>
              <input matInput placeholder="Website" formControlName="website" />
              <mat-error *ngIf="formGroup.controls['website'].hasError('required')">
                Website is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="address">
          <ng-template matStepLabel>Address</ng-template>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" />
            <mat-error *ngIf="formGroup.controls['address'].get('city')?.hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <ng-container formGroupName="geo">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Latitude</mat-label>
              <input matInput placeholder="Latitude" formControlName="lat" />
              <mat-error *ngIf="formGroup.controls['address'].get('geo')?.get('lat')?.hasError('required')">
                Latitude is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Longitute</mat-label>
              <input matInput placeholder="Longitute" formControlName="lng" />
              <mat-error *ngIf="formGroup.controls['address'].get('city')?.get('lng')?.hasError('required')">
                Longitute is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ng-container>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street" />
            <mat-error *ngIf="formGroup.controls['address'].get('street')?.hasError('required')">
              Street is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Suite</mat-label>
            <input matInput placeholder="Suite" formControlName="suite" />
            <mat-error *ngIf="formGroup.controls['address'].get('suite')?.hasError('required')">
              Suite is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Zipcode</mat-label>
            <input matInput placeholder="Zipcode" formControlName="zipcode" />
            <mat-error *ngIf="formGroup.controls['address'].get('zipcode')?.hasError('required')">
              Zipcode is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="company">
          <ng-template matStepLabel>Company</ng-template>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company" formControlName="name" />
            <mat-error *ngIf="formGroup.controls['company'].get('name')?.hasError('required')">
              Company Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>BS</mat-label>
            <input matInput placeholder="BS" formControlName="bs" />
            <mat-error *ngIf="formGroup.controls['company'].get('bs')?.hasError('required')">
              BS is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Catch Phrase</mat-label>
            <input matInput placeholder="Catch Phrase" formControlName="catchPhrase" />
            <mat-error *ngIf="formGroup.controls['company'].get('catchPhrase')?.hasError('required')">
              Catch Phrase is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button [disabled]="formGroup.invalid && !formGroup.dirty" (click)="onSubmit()">Submit</button>
          </div>
        </mat-step>
      </form>
    </mat-horizontal-stepper>


    <!-- <form [formGroup]="formGroup">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Fullname</mat-label>
          <input matInput placeholder="Fullname" formControlName="name" />
          <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
            Fullname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error *ngIf="formGroup.controls['username'].hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="formGroup.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phone" (keypress)="numberOnly($event)" />
          <mat-error *ngIf="formGroup.controls['phone'].hasError('pattern')">
            Please enter digit only
          </mat-error>
          <mat-error *ngIf="formGroup.controls['phone'].hasError('required')">
            Phone is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Website</mat-label>
          <input matInput placeholder="Website" formControlName="website" />
          <mat-error *ngIf="formGroup.controls['website'].hasError('required')">
            Website is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div formGroupName="address">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" />
            <mat-error *ngIf="formGroup.controls['address'].get('city')?.hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street" />
            <mat-error *ngIf="formGroup.controls['address'].get('street')?.hasError('required')">
              Street is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Suite</mat-label>
            <input matInput placeholder="Suite" formControlName="suite" />
            <mat-error *ngIf="formGroup.controls['address'].get('suite')?.hasError('required')">
              Suite is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Zipcode</mat-label>
            <input matInput placeholder="Zipcode" formControlName="zipcode" />
            <mat-error *ngIf="formGroup.controls['address'].get('zipcode')?.hasError('required')">
              Zipcode is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div style="display: flex;justify-content: flex-end;align-items: center;">
        <button mat-raised-button color="primary" style="margin-right: 6px;" (click)="onSubmit()"
          >Add</button>
        <button mat-raised-button color="accent" (click)="onReset()">Reset</button>
      </div>
    </form> -->
  </mat-card>
</div>
